<div class="container">
	<div class="jumbotron">
		<h1 class="display-5">Nissan</h1>
		<p class="lead">País {{pais}}</p>
		<hr class="my-2">
		<div class="col col-6"><div class=" alert alert-success">LOGO   <div class="alert alert-warning alert-dismissible fade show" role="alert"><strong></strong><img src={{logo}} width="300" height="300"></div></div>
		<div class="col col-12"><strong>Página principal: {{pagina}}</strong></div>
		<div class="col col-4"><strong>{{sectorVentas}}</strong></div></div>
		<div class="container">
			<div class="jumbotron">
				<h1>Fundación</h1>
				<hr class="my-1">
				<div class="alert-success">{{anioFundacion}}</div>
			</div>
		</div>

		
	</div>
</div>